**
!.gitignore
!2021-09-27-continuous-back-of-words.md
!2021-09-27-evaluation-of-word-vectors.md
!2021-09-27-global-vectors-for-word-representation.md
!2021-09-27-hierarchical-softmax.md
!2021-09-27-negative-sampling.md
!2021-09-27-skip-gram.md
